.orders{
    margin:20px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
}
.orders >h1{
   margin-bottom: 30px;
}
.orders_info{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    font-size: 20px;
   
}
.orders_check{
    color: green;
    margin-right: 2px;
    margin-top:5px;
}

.orders >div{
    margin-left: -20px;
    margin-bottom: 30px;
    font-size: 20px;
}
.orders_button > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    /* color: #111; */
}
